@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    background-image: url("pic4.jpg");
    background-size: cover;
    background: #000;
    /* overflow: hidden; */
    /* min-height: 100%; */
}

.buttons {
    position: absolute;
    /* background-color: grey; */
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    /* position: fixed; */
}

/* a{
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-attachment: fixed;
    line-height: 50px;
    border-radius: 1px;
    border: 1px solid #000;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 30px;
    width: 90%;
    margin: 10px auto;
    background: none;
    color: white;
    backdrop-filter: blur(20px);
    text-shadow: 0 0 10px #00000033;
    max-width: 300px;
    transition: 1s;
    box-shadow: 0 0 50px #ffffff77;
    background: #00000033;
} */

a {
    display: block;
    background-color: #ffffff99;
    border: 2px solid #222;
    box-shadow: 3px 3px 0px #222;
    width: 90%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
    transition: .3s;
}

a:first-child {
    margin-bottom: 10px;
}

a:hover {
    box-shadow: 0 0 20px gold;
    border: 2px solid gold;
}

a:hover img {
    transform: scale(1) rotate(-5deg);
}

a img {
    transition: 0.5s;
    width: 100%;
    transform: scale(0.8);
    filter: drop-shadow(0 0 5px white);
}

.sliderContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.slider img {
    width: 100%;
    display: block;
    transform: scale(1.01);
}