@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    min-height: 100%;
}
body{
    font-family: 'Manrope', sans-serif;
    background-image: url("pic4.jpg");
    background-size: cover;
    background: #000;
    /* overflow: hidden; */
    /* min-height: 100%; */
}
.buttons{
    position: absolute;
    /* background-color: grey; */
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    /* position: fixed; */
}
a{
    /* background-color: rgb(198, 255, 192); */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-attachment: fixed;
    /* line-height: 100vh; */
    line-height: 50px;
    border-radius: 1px;
    border: 1px solid #000;
    text-align: center;
    display: block;
    text-decoration: none;
    font-size: 30px;
    /* font-weight: 700; */
    width: 90%;
    margin: 10px auto;
    background: none;
    color: white;
    backdrop-filter: blur(20px);
    text-shadow: 0 0 10px #00000033;
    max-width: 300px;
    transition: 1s;
    box-shadow: 0 0 50px #ffffff77;
    background: #00000033;
}
a:nth-child(2){
    /* font-size: 100px; */
    /* background-color: lightblue; */
}
.sliderContainer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slider{
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* display: none; */
    /* height: 90vh; */
    /* overflow-y: scroll; */
}
.slider img{
    width: 100%;
    display: block;
    /* height: 400px; */
    object-fit: cover;
}